@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#Form_EditForm_action_updateMailing::before {
    display: inline-block;;
}

#Form_EditForm_action_updateMailing.font-icon-spinner::before {
     animation: rotate 2.5s linear infinite 0s;
    -ms-animation: rotate 2.5s linear infinite 0s;
    -webkit-animation: rotate 2.5s linear infinite 0s;
}
